@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@import "tailwindcss-primeui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: "Manrope", system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

:root {
    --p-primary-50: #f5f3ff;
    --p-primary-100: #ede9fe;
    --p-primary-200: #ddd6fe;
    --p-primary-300: #c4b5fd;
    --p-primary-400: #a78bfa;
    --p-primary-500: #8b5cf6;
    --p-primary-600: #7c3aed;
    --p-primary-700: #6d28d9;
    --p-primary-800: #5b21b6;
    --p-primary-900: #4c1d95;
    --p-primary-950: #2e1065;
}
