@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@import "tailwindcss-primeui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: "Manrope", system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

:root {
    --p-primary-50: #f5f3ff;
    --p-primary-100: #ede9fe;
    --p-primary-200: #ddd6fe;
    --p-primary-300: #c4b5fd;
    --p-primary-400: #a78bfa;
    --p-primary-500: #8b5cf6;
    --p-primary-600: #7c3aed;
    --p-primary-700: #6d28d9;
    --p-primary-800: #5b21b6;
    --p-primary-900: #4c1d95;
    --p-primary-950: #2e1065;
}

@layer base {
    html, body, #app, #guest {
        @apply h-full w-full overflow-hidden text-sm
    }

    .form-label {
        @apply text-muted-color text-base mb-1
    }

    .form-label.required:after {
        content: ' *';
        @apply text-red-500 font-semibold
    }

    .p-button {
        @apply font-semibold
    }

    .p-button-sm {
        --p-button-sm-padding-y: .25rem;
        --p-button-sm-padding-x: .5rem;
    }

    .p-avatar {
        --p-avatar-background: var(--color-surface-100);
    }

    .p-select-option {
        @apply text-base
    }

    .p-inputtext:disabled {
        --p-inputtext-disabled-background: var(--color-surface-100);
    }

    .p-datatable-column-header-content [data-pc-section="sort"] {
        @apply flex
    }

    .p-tag {
        @apply leading-4
    }

    .p-datatable-sort-icon {
        --p-datatable-sort-icon-size: 12px;
    }

    .p-avatar-label {
        @apply font-semibold
    }
}
